.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  /* padding: 40px; */
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 15px;
}
.button {
  border: none;
  outline: none;
  background-color: transparent;
}
